@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Libre Franklin", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
